name: Release

env:
  NUGET_API_KEY: ${{secrets.NUGET_API_KEY}}
  ACTIONS_ALLOW_UNSECURE_COMMANDS: TRUE
  
on:
  push:
    tags:
      - '*'

jobs:
  release-and-publish-package:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'spottigus'

    steps:
      - uses: actions/checkout@v2

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.300

      - name: Setup .NET 5
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.100

      - name: Package and publish to Nuget
        run: |
          VERSION=`git describe --tags`
          npm install
          dotnet build 
          dotnet pack /p:PackageVersion=$VERSION -c Release -o publish
          dotnet nuget push publish/*.nupkg -s https://api.nuget.org/v3/index.json -k $NUGET_API_KEY --skip-duplicate
